@model IEnumerable<AirTickets.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AircraftNumberNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalAirportNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureAirportNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AircraftNumberNavigation.TailNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirportNavigation.Iatacode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureAirportNavigation.Iatacode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Number">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Number">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Number">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
